### ENV ###
.env
.env.local
.env.*.local

### GAUGE ###
.gauge
gauge_bin
reports/
libs/gauge/

### GRADLE ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### INTELLIJ ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### LOGS ###
*.log
logs/
error-logs

### OS ###
.DS_Store
Thumbs.db

### SPRING BOOT ###
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

